.app {
  background-color: var(--bgColor);
  z-index: 3;
}

.hero {  
  margin: 50px 100px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  /* width: 100%; */
  /* margin-left: 12rem; */
  /* justify-items:spa; */
  justify-content: space-between;
  /* padding-bottom: 1rem; */
}

.toggle{
  color: var(--textColor);
}

.heroImage {
  object-fit: contain;
  width: 95%;

  opacity: 0;
  animation: heroImg-animation 0.8s ease-in-out 0.9s;
  animation-fill-mode: forwards;
}

.map {
  position: absolute;
  width: 50%;
  /* height: 100%; */
  top: 10%;
  left: 0;
  object-fit: contain;
  z-index: 1;

  animation: map-animation 2s ease-in;
}

.heroText {
  position: relative;
  /* right: 0; */
  width: 170%;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--textColor);
  z-index: 6;
  /* animation: heroText-animation 0.8s ease-in; */
}

.heroText span {
  color: var(--mainColor);
}

.heroText .right {
  text-align: end;
  opacity: 0;
  animation: heroText-animation 0.8s ease-in-out 1s;
  animation-fill-mode: forwards;
}

.heroText .center {
  text-align: center;
  opacity: 0;
  animation: heroText-animation 0.8s ease-in-out 1.5s;
  animation-fill-mode: forwards;
}

.heroText .left {
  text-align: start;
  opacity: 0;
  animation: heroText-animation 0.8s ease-in-out 1.9s;
  animation-fill-mode: forwards;
}

.storeIcons {
  margin: 0 20px;
}

.storeIcons img {
  width: 230px;
  object-fit: contain;
  opacity: 0;

  animation: storIcons-animation 0.9s ease-in 4s;
  animation-fill-mode: forwards;
}

.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  width: 13px;
  border-radius: 50%;

  border: 2px solid #fbd675;
  transition: 0s;
  transform: translate(-50%, -50%);
  pointer-events: none;

  z-index: 100;
}

.toggleDiv{
  display: flex;
  align-items: center;
}

/* ul a:hover ~ .cursor{
  transform: scale(4);
} */

@keyframes heroImg-animation {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes map-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heroText-animation {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes storIcons-animation {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
